*{
  box-sizing: border-box;
}

body {
  margin: 0;              
  background: #222;       
  color: #fff;
}

.page-content {
  min-height: calc(100vh - 100px); 
  display: flex;
  justify-content: center;
  align-items: center;
}


